@import "tailwindcss";

:root {
  --aurora: repeating-linear-gradient(
    120deg,
    #3b82f6 10%,
    #6366f1 20%,
    #60a5fa 30%,
    #a5b4fc 40%,
    #3b82f6 50%
  );

  --white-gradient: repeating-linear-gradient(
    100deg,
    white 0%,
    white 7%,
    transparent 10%,
    transparent 12%,
    white 16%
  );

  --dark-gradient: repeating-linear-gradient(
    100deg,
    black 0%,
    black 7%,
    transparent 10%,
    transparent 12%,
    black 16%
  );
}
